a {
    background-color: rgba(29, 149, 218, 0.116);
 
    color: rgb(255, 255, 255);
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: full-width;
  }
  
  a:hover {
    background-color: #0b007279;
    cursor: pointer;
  }
  
